<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
	</head>
	<body>
	<ul>
		<li><a th:href="@{/signout}">Sign Out</a></li>
	</ul>
	<h3>Your Meetup Member Details</h3>

	<label>Id</label><span th:text="${profile.id}"></span>
	<br />
	<label>Name:</label><span th:text="${profile.name}"></span> 
	<br />
	<label>Joined:</label><span th:text="${profile.joined}"></span>
	<br />
	<label>City:</label><span th:text="${profile.city}"></span>
	<br />
	<label>Country:</label><span th:text="${profile.country}"></span>
	
	<h3>Your Meetup Events</h3>
	<ul>
		<li th:each="event : ${events}">
			
			<span th:text="${event.name} - ${event.id}">name</span>
		</li>
	</ul>	
	
	
	</body>
</html>
